node_modules

package-lock.json

.next/

# Logs
logs
*.log
npm-debug.log*

dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

build/Release

jspm_packages

.npm

.node_repl_history

.env
